*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
}

.app-container {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
